<div class="terminal-nav container">
  <div class="terminal-logo">
    <div class="logo terminal-prompt"><a href="/" class="no-style"><%= site.title %></a></div>
  </div>
  <nav class="terminal-menu">
    <ul>
      <li><a class="menu-item" href="/search">Hakusivu</a></li>
    </ul>
  </nav>
</div>