<header class="ml-4 mr-4">
  <div
    class="navbar mb-2 shadow-lg bg-neutral text-neutral-content rounded-box"
  >
    <div class="flex-none px-2 mx-2">
      <span class="text-lg font-bold"><%= site.title %></span>
    </div>
    <div class="flex-1 px-2 mx-2">
      <div class="items-stretch hidden lg:flex">
        <a href="/" class="btn btn-ghost btn-sm rounded-btn"> Luo liite </a>
        <a href="/latest" class="btn btn-ghost btn-sm rounded-btn"> Selaa </a>
      </div>
    </div>
    <div class="flex-1 lg:flex-none">
      <form action="/search" method="get">
        <div class="form-control">
          <input placeholder="Hae liitteitä" name="q" class="input input-ghost" type="text">
        </div>
      </div> 
      <div class="flex-none">
        <button type="submit" class="btn btn-square btn-ghost">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-6 h-6 stroke-current">             
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path>             
          </svg>
        </button>
      </div>
    </form>
  </div>
</header>
