<div class="container p-6  max-w-md rounded-xl border-double border-black border-4 min-w-full bg-yellow-100 mb-8">
    <a href="/"><h1 class="inline-block"><%= site.title %></h1></a>
    <a href="/" class="p-6 hover:underline">Uusi</a>
    <a href="/latest" class="p-6 hover:underline">Viimeisimmät</a>
</div>