<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="max-w-full">
    <%- include('../partials/header'); %>

    <main class="container">
      <h2>Luo uusi liite</h2>

      <form action="/new" method="post">
        <fieldset>
          <legend>Form legend</legend>
          <div class="form-group">
            <label for="name">Liitteen nimi:</label>
            <input id="name" name="text" type="text" placeholder="Liite...">
          </div>
          <div class="form-group">
            <label for="paste">Liite:</label>
            <textarea id="paste" cols="30" rows="20" name="paste" placeholder="<%= defaultPaste.content %>"></textarea>
          </div>
          <div class="form-group">
            <label for="private">Yksityinen:</label>
            <input input type="checkbox" name="hidden" id="private">
          </div>
          <div class="form-group">
            <label for="submit">Input Button:</label>
            <button class="btn btn-default" type="submit" role="button" name="submit" id="submit">Luo!</button>
          </div>
        </fieldset>
      </form>
    </main>
  </body>
</html>
