<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>

    <!-- text editor -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.0/codemirror.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.0/codemirror.min.css"
    />

    <!-- palceholder addon -->
    <script src="https://codemirror.net/addon/display/placeholder.js"></script>

    <!-- theme -->
    <link rel="stylesheet" href="https://codemirror.net/theme/duotone-dark.css">

    <style>
      .CodeMirror {
        border-radius: 8px;
        height: 40rem;
        resize: vertical;
        overflow: hidden;
      }
    </style>
  </head>
  <body class="max-w-full">
    <%- include('../partials/header'); %>

    <main class="ml-8 mr-8 container">
      <br />
      <h2 class="mb-8 text-3xl">Luo uusi liite</h2>
      <form action="/new" method="post">
        <div class="h-screen max-h-screen">
          <textarea
            id="editor"
            name="paste"
            placeholder="<%= defaultPaste.content %>"
          ></textarea>
          <br />
          <div class="flex flex-row">
            <div class="inline-block">
              <label class="cursor-pointer label">
                <span class="label-text">Yksityinen&nbsp;</span> 
                <input type="checkbox" name="hidden" class="toggle toggle-primary">
              </label>
            </div>
          </div>
          <div class="flex flex-row">

            <div class="inline-block">
              <input type="text" placeholder="Nimi..." name="title" class="input input-bordered">
            </div>
          </div>
          <br>

          <button type="submit" class="btn btn-accent">Luo!</button>

      </form>
    </main>

    <script>
      const editor = CodeMirror.fromTextArea(document.getElementById('editor'), {
          lineNumbers: true,
          theme: "duotone-dark"
      });
      editor.save()
    </script>
  </body>
</html>
