<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container max-w-full">

  <header class="ml-8 mr-8">
    <%- include('../partials/header'); %>
  </header>

  <main class="ml-8 mr-8">
    <div class="container p-8 break-all max-w-md rounded-xl border-black border-2 min-w-full bg-yellow-100">
      <pre class="whitespace-pre-wrap"><%= paste.content %></pre>
    </div>
  </main>

  </body>
</html>